<html>

<title>My Passwords</title>

<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="./bower_components/material-design-lite/material.min.css" rel="stylesheet" />

<script src="./bower_components/material-design-lite/material.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-smart-table/dist/smart-table.min.js"></script>


<script>
var app = angular.module("passwordModule", ['smart-table']); 
app.controller("passwordCtrl", function($scope) {
    $scope.passwordList = ["Milk", "Bread", "Cheese"];
    $scope.rowCollection = [
        {firstName: 'Laurent', lastName: 'Renard', birthDate: new Date('1987-05-21'), balance: 102, email: 'whatever@gmail.com'},
        {firstName: 'Blandine', lastName: 'Faivre', birthDate: new Date('1987-04-25'), balance: -2323.22, email: 'oufblandou@gmail.com'},
        {firstName: 'Francoise', lastName: 'Frere', birthDate: new Date('1955-08-27'), balance: 42343, email: 'raymondef@gmail.com'}
    ];
});
</script>

<body>
  <h1>My Passwords</h1>

  <div ng-app="passwordModule" ng-controller="passwordCtrl">
    <ul>
      <li ng-repeat="password in passwordList">{{password}}</li>
    </ul>
    <table st-table="rowCollection" class="table table-striped">
      <thead>
        <tr>
          <th>first name</th>
          <th>last name</th>
          <th>birth date</th>
          <th>balance</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in rowCollection">
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.birthDate}}</td>
          <td>{{row.balance}}</td>
          <td>{{row.email}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!--Used Electron applications. -->
  <!--<p>
    Electron
    <script> document.write(process.versions['electron']) </script> on
    <script> document.write(process.platform) </script>
  </p>-->

  <!--Write some text in textbox:
  <input type="text" ng-model="sometext" />

  <h1>Hello {{sometext}}</h1>


  <button toggle-insert-view class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
    <i class="material-icons">add</i>
  </button>

  <div class="">
    <button generate-password class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">generate</button>
    <button toggle-insert-view class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">cancel</button>
    <button save-password class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-disabled="insertForm.$invalid">save</button>
  </div>

  <script type="text/javascript"> 
      var fs = require('fs');
      var file = fs.readFileSync('README.md'); 
      document.write(file); 
   </script>-->

</body>

</html>