<html>

<title>My Passwords</title>

<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<link href="./bower_components/material-design-lite/material.min.css" rel="stylesheet" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
  body {
    padding-top: 60px;
    padding-right: 5px ; 
    padding-left: 5px ; 
    padding-bottom: 60px ; 

  }
</style>


<script src="./bower_components/material-design-lite/material.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-smart-table/dist/smart-table.min.js"></script>


<script>
var app = angular.module("passwordModule", ['smart-table']); 
app.controller("passwordCtrl", function($scope) {
    $scope.credentialCollection = [
        {appName: 'Google', userId: 'kaun.jovi', passwordSetOn: new Date('1987-05-21'), password: 'Awesome'},
        {appName: 'Yahoo', userId: 'kaun.jovi', passwordSetOn: new Date('1987-04-25'),  password: 'OutOfTheWorld'},
        {appName: 'Google', userId: 'kaun.jovi', passwordSetOn: new Date('1987-05-21'), password: 'Awesome'},
        {appName: 'Yahoo', userId: 'kaun.jovi', passwordSetOn: new Date('1987-04-25'),  password: 'OutOfTheWorld'},
        {appName: 'Google', userId: 'kaun.jovi', passwordSetOn: new Date('1987-05-21'), password: 'Awesome'},
        {appName: 'Yahoo', userId: 'kaun.jovi', passwordSetOn: new Date('1987-04-25'),  password: 'OutOfTheWorld'},
        {appName: 'Google', userId: 'kaun.jovi', passwordSetOn: new Date('1987-05-21'), password: 'Awesome'},
        {appName: 'Yahoo', userId: 'kaun.jovi', passwordSetOn: new Date('1987-04-25'),  password: 'OutOfTheWorld'},
        {appName: 'Google', userId: 'kaun.jovi', passwordSetOn: new Date('1987-05-21'), password: 'Awesome'},
        {appName: 'Yahoo', userId: 'kaun.jovi', passwordSetOn: new Date('1987-04-25'),  password: 'OutOfTheWorld'},
        {appName: 'Google', userId: 'kaun.jovi', passwordSetOn: new Date('1987-05-21'), password: 'Awesome'},
        {appName: 'Yahoo', userId: 'kaun.jovi', passwordSetOn: new Date('1987-04-25'),  password: 'OutOfTheWorld'},
        {appName: 'Google', userId: 'kaun.jovi', passwordSetOn: new Date('1987-05-21'), password: 'Awesome'},
        {appName: 'Yahoo', userId: 'kaun.jovi', passwordSetOn: new Date('1987-04-25'),  password: 'OutOfTheWorld'},
        {appName: 'Google', userId: 'kaun.jovi', passwordSetOn: new Date('1987-05-21'), password: 'Awesome'},
        {appName: 'Yahoo', userId: 'kaun.jovi', passwordSetOn: new Date('1987-04-25'),  password: 'OutOfTheWorld'},
        {appName: 'Hotmail', userId: 'kaun.jovi', passwordSetOn: new Date('1955-08-27'),  password: 'YouRockGuys'}
    ];
});

app.controller("createNewCredentialCtrl", function($scope){

}) ; 
</script>

<body ng-app="passwordModule" ng-controller="passwordCtrl">

  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container ">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header ">
        <a class="navbar-brand " href="# ">My Passwords</a>
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>

  <table class="table table-striped " st-table="displayedCollection" st-safe-src="credentialCollection">

    <thead>
      <tr>
        <th colspan="6 ">
          <input st-search=" " class="form-control " placeholder="Search ... " type="text " />
        </th>
      </tr>
      <tr>
        <th st-sort="credential.appName ">App</th>
        <th st-sort="credential.userId ">Username</th>
        <th>Password</th>
        <th>Set on</th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="credential in displayedCollection">
        <td>{{credential.appName}}</td>
        <td>{{credential.userId}}</td>
        <td>{{credential.password}}</td>
        <td>{{credential.passwordSetOn | date:"mediumDate"}}</td>
        <td>
          <button type="button " class="btn btn-sm btn-danger ">
					    <i class="glyphicon glyphicon-remove-circle ">
					    </i>
				    </button>
        </td>

        <td>
          <button type="button " class="btn btn-sm btn-success ">
                <i class="glyphicon glyphicon-pencil ">
                </i>
              </button>
        </td>


      </tr>
    </tbody>
  </table>

  <div>
    <button type="button" ng-click="addRandomItem(row)" class="btn btn-sm btn-success">
			<i class="glyphicon glyphicon-plus">
			</i> Add New
		</button>
  </div>

</body>

</html>